@{
    ViewData["Title"] = "Add Categories";
}
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Fault Category Name</label>
            <input type="text" class="form-control" id="strCategoryName" name="strCategoryName" aria-describedby="emailHelp" size="40">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Fault Description</label>
            <textarea class="form-control" id="strCateFaultDesc" name="strCateFaultDesc" rows="5" cols="50"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
