<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  @*  <title> Help Desk</title>*@
    <script src="~/lib/jquery/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/toast-android-toastr/dist/toastr.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Ensure that your custom stylesheet has the correct path -->

</head>
<body>
    <header>
        <!-- Simplified navigation bar -->

    </header>

    <main role="main" class="main-content">
        @RenderBody()
    </main>



    <script src="~/lib/font-awesome/d93eac3dfe.js"></script>>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toast-android-toastr//dist/toastr.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
